{% extends "myLibr_base_adm.html" %}

{% block content %}
    <a href="/add_book">Добавить книгу</a>
    {% for item in books %}
        <div class="alert alert-dark" role="alert">	    
            <h2>{{item[1]}}</h2>
            Название   : {{item[2]}}
	    <div></div>

            Экземпляров:  {{item[3]}}
            Стеллаж:  {{item[4]}}
            Полка:  {{item[5]}} 
	    <div></div>
            {% if session['admin'] == 1 %}
                <div class="btn-group">
                    <a href="/delete_book/{{item[0]}}">Удалить книгу   ..</a>
                    <a href="/edit_book/{{item[0]}}">.  Изменить</a>
		</div>
            {% else %}
                <div class="btn-group">
                    <a href="/add_zakaz/{{item[0]}}">Заказать книгу</a>
	        </div>
            {% endif %}

        </div>
    {% endfor %}
{% endblock %}